@font-face {
    font-family: 'lucida_sans_unicode';
    font-weight: normal;
    font-style: normal;
    src: url('lsansuni-webfont.eot');
    src: url('lsansuni-webfont.eot?#iefix') format('embedded-opentype'),
    url('lsansuni-webfont.woff2') format('woff2'),
    url('lsansuni-webfont.woff') format('woff'),
    url('lsansuni-webfont.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

.clearfix {
    clear: both;
}

.main-container {
    width: 910px;
    margin: 0 auto;
}

header {
    padding: 9px 0 12px 0;
}

.contacts {
    margin-bottom: 5px;
}

.phone-number {
    float: left;
    padding-left: 29px;
    color: #5e696d;
    background: url(../img/tel-icon.png) no-repeat;
    background-position: 6px, 50%;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: .5px;
}

.login {
    float: left;
    width: 494px;
    height: 26px;
    margin-left: 14px;
    padding-left: 24px;
    border-top: 1px solid #a6c3cf;
    border-bottom: 1px solid #596d80;
    border-left: 1px solid #d4dde3;
    border-radius: 5px;
    background: url(../img/user-icon.png) no-repeat 8px 50%, linear-gradient(to bottom, #1f6787 0%, #0c3357 100%);
    box-shadow: 2px 2px 3px #969696;
    font-family: 'lucida_sans_unicode', Arial, sans-serif;
    line-height: 21px;
    vertical-align: middle;
}

.login form {
    float: left;
    width: 281px;
}

.login input {
    width: 115px;
    height: 17px;
    border: 1px solid #7b8d97;
    border-radius: 2px;
}

#submit {
    width: 34px;
    padding: 0 5px;
    border: none;
    border-radius: 0;
    color: white;
    background: inherit;
    font-size: 11px;
}

.registration::before {
    margin-right: 4px;
    margin-left: -12px;
    color: white;
    content: '|';
}

.registration {
    display: block;
    float: left;
    padding: 0 5px;
    color: white;
    font-size: 11px;
    line-height: 25px;
    text-decoration: none;
}

.forgot-pass {
    padding-left: 20px;
    color: #bfbfbf;
    font-size: 12px;
    line-height: 25px;
    text-align: right;
}

.forgot-pass:hover {
    text-decoration: underline;
}

.site-map {
    float: left;
    width: 78px;
    height: 21px;
    margin-top: 1px;
    margin-left: 18px;
    padding-bottom: 7px;
    padding-left: 4px;
    border: 1px solid #c1c8cb;
    border-radius: 8px;
    box-shadow: 0 2px 3px 0 rgba(50, 50, 50, .52);
}

.site-map a {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.main-logo {
    height: 236px;
    margin-top: 6px;
}

nav {
    float: left;
}

.menu {
    width: 908px;
    height: 34px;
    margin-top: 9px;
    padding-left: 130px;
    border: 1px solid #2c345a;
    border-radius: 5px;
    background: url(../img/bg-menu.png) repeat-x;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, .75);
    vertical-align: middle;
}

.menu ul {
    float: left;
    padding-right: 45px;
}

.menu li {
    float: left;
    padding: 2px 0;
    border-radius: 12px;
}

.menu a {
    display: block;
    padding: 0 15px;
    color: #b1bcc0;
    font-family: 'lucida_sans_unicode', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-decoration: none;
}

.menu a:hover {
    border-radius: 12px;
    background: linear-gradient(180deg, rgb(37, 97, 123) 0%, rgb(9, 35, 59) 90%);
}

.shop {
    float: left;
    margin-left: 10px;
    padding-left: 30px;
    background: url(../img/basket-icon.png) no-repeat left;
}

.shop div {
    float: left;
    margin: 0 0;
    padding-right: 9px;
    color: #929b9f;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 29px;
}

.shop span {
    padding-left: 9px;
    color: #0d5a8f;
    font-size: 12px;
    vertical-align: middle;;
}

.search-form {
    margin-top: 0;
    padding-left: 4px;
}

.search-form > div {
    float: left;
    border: 1px solid #c4c4c4;
    border-radius: 16px;
    box-shadow: 3px 3px 5px 0 rgba(104, 104, 104, 1);
}

.auto {
    width: 411px;
    height: 132px;
}

.tire {
    width: 191px;
    height: 132px;
    margin-left: 16px;
}

.disk {
    width: 266px;
    height: 132px;
    margin-left: 11px;
}

.catalog-left {
    float: left;
    margin-top: 14px;
    vertical-align: middle;
}

.catalog-left h1 {
    width: 180px;
    height: 25px;
    margin-top: 6px;
    margin-bottom: 14px;
    border: 1px solid #8c969a;
    border-radius: 12px;
    color: #114165;
    box-shadow: 3px 3px 3px 0 rgba(104, 104, 104, 0.3);
    font-family: 'lucida_sans_unicode', Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
}

.catalog-left h1:before {
    display: inline-block;
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 3px;
    content: url(../img/list-icon.png);
    vertical-align: middle;
}

.catalog-left h2 {
    width: 147px;
    height: 29px;
    margin-top: 0;
    margin-left: 1px;
    padding-left: 8px;
    border: 1px solid #79878d;
    border-radius: 13px;
    color: #114165;
    font-family: 'lucida_sans_unicode', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}

.catalog-left h2:before {
    display: inline-block;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: -5px;
    content: url(../img/tire-icon.png);
    vertical-align: middle;
}

.catalog-left ul {
    margin-top: -1px;
    margin-bottom: -4px;
    margin-left: 27px;
}

.catalog-left li {
    margin-left: 5px;
    padding-left: 15px;
    list-style-position: inside;
    background: url(../img/bullet.png) no-repeat left;
    line-height: 26px;
}

.catalog-left li a {
    display: block;
    color: #465961;
    font-family: 'lucida_sans_unicode', Arial, sans-serif;
    font-size: 13px;
    line-height: 26px;
    text-decoration: none;
}

.catalog-left li:hover {
    background: url(../img/bullet_check.png) no-repeat left;
}

.catalog-left a:hover {
    color: #0c3256;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.main {
    float: left;
    width: 529px;
    height: 627px;
    margin: 15px 8px;
    padding: 18px 0 0 25px;
    border-radius: 3px;
    background: rgba(228,231,232,1);
    background: -moz-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(187,199,204,1) 51%, rgba(147,167,176,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,231,232,1)), color-stop(51%, rgba(187,199,204,1)), color-stop(100%, rgba(147,167,176,1)));
    background: -webkit-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(187,199,204,1) 51%, rgba(147,167,176,1) 100%);
    background: -o-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(187,199,204,1) 51%, rgba(147,167,176,1) 100%);
    background: -ms-linear-gradient(top, rgba(228,231,232,1) 0%, rgba(187,199,204,1) 51%, rgba(147,167,176,1) 100%);
    background: linear-gradient(to bottom, rgba(228,231,232,1) 0%, rgba(187,199,204,1) 51%, rgba(147,167,176,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e7e8', endColorstr='#93a7b0', GradientType=0 );
}

.box {
    display: block;
    float: left;
    width: 138px;
    margin: -2px 30px 27px 0;
}

.padding {
    margin-top: 1px;
}

.box h2,
figcaption,
p.price {
    text-align: center;
}

.box h2 {
    margin-top: -1px;
    margin-left: -5px;
    color: #206988;
    font-family: 'lucida_sans_unicode', Arial, sans-serif;
    font-size: 15px;
    line-height: 13px;
}

figcaption {
    margin: 2px;
    padding-left: 5px;
    color: #1f2528;
    font-size: 13px;
    line-height: 13px;
}

h2.last {
    padding-left: 4px;
}

figcaption.last {
    margin-left: -5px;
    letter-spacing: -.2px;
}

figure img {
    width: 137px;
    height: 128px;
    border: 1px solid #a4aeb1;
    border-radius: 7px;
    background-color: white;
}

p.price {
    margin-top: 5.5px;
    margin-left: 12px;
    color: #114165;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 10px;
    letter-spacing: .6px;
}

p.price span {
    margin-left: -1px;
    font-size: 12px;
    letter-spacing: .5px;
}

.catalog-right {
    float: left;
    margin-top: 11px;
    margin-left: 9px;
    padding-top: 1px;
    padding-right: 0;
}

.catalog-right label {
    padding-left: 26px;
    color: #465961;
    font-family: 'lucida_sans_unicode', Arial, sans-serif;
    font-size: 13px;
    line-height: 26px;
}

.catalog-right h1 {
    width: 176px;
    height: 27px;
    margin-top: 5px;
    margin-bottom: 14px;
    margin-left: -4px;
    border: 1px solid #8c969a;
    border-radius: 12px;
    color: #114165;
    box-shadow: 3px 3px 5px 0 rgba(104, 104, 104, 0.3);
    font-family: 'lucida_sans_unicode', Arial, sans-serif;
    font-size: 13px;
    line-height: 23px;
    text-align: left;
    text-transform: uppercase;
}

.catalog-right h1:before {
    display: inline-block;
    margin-top: 1px;
    margin-right: 3px;
    content: url(../img/list-icon.png);
    vertical-align: middle;
}

.catalog-right h2 {
    width: 136px;
    height: 28px;
    margin-top: 6px;
    margin-bottom: 2px;
    margin-left: 6px;
    border: 1px solid #79878d;
    border-radius: 13px;
    color: #114165;
    font-family: 'lucida_sans_unicode', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
}

.catalog-right h2:before {
    display: inline-block;
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 3px;
    content: url(../img/tire-icon.png);
    vertical-align: middle;
}

.checkbox:not(checked) {
    opacity: 0;
}

.checkbox:not(checked) + label {
    margin-left: -8px;
    background: url(../img/checkbox.png) no-repeat left;
}

.checkbox:checked + label {
    background: url(../img/checkbox-cheked.png) no-repeat left;
}

.catalog-right [type='submit'] {
    width: 78px;
    height: 24px;
    margin: 13px 17px;
    border: none;
    border-radius: 8px;
    color: #e5e9ea;
    background: linear-gradient(to bottom, rgb(31, 103, 135) 0%, rgb(12, 51, 87) 100%, rgb(125, 185, 232) 100%);
    box-shadow: 3px 3px 3px 0 rgba(190, 192, 193, 1);
    font-family: Arial, sans-serif;
    font-size: 11px;
}

.logo-block {
    display: inline-block;
    width: 100%;
    margin-top: 18px;
    text-align: center;
    vertical-align: middle;
}

.logo-block a {
    padding: 5px;
}

footer {
    width: 100%;
    height: 99px;
    margin-top: 28px;
    background: #213a4d;
}

.footer-menu {
    position: relative;
    overflow: hidden;
    margin-left: -6px;
    padding-top: 14px;
}

.footer-menu ul {
    position: relative;
    overflow: hidden;
}

.footer-menu li {
    position: relative;
    left: 303px;
    display: block;
    float: left;
}

.footer-menu li:first-child a {
    border-left: none;
}

.footer-menu li:last-child a {
    border-right: none;
}

.footer-menu a {
    display: block;
    padding: 0 12px;
    border-right: 1px solid #bec6c9;
    border-left: 1px solid #8d989f;
    color: #bec6c9;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 11px;
    text-decoration: none;
}

.footer-menu a:hover {
    color: #52abcb;
}

.copyright {
    margin-top: 16px;
    color: #7f4740;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: center;
}
